<div class="calculator-container">
  <div class="form-container">
    <input
      id="amount-input"
      class="amount-input"
      type="number"
      placeholder="Enter your amount"
      min="0"
      [disabled]="isDisabled"
      [(ngModel)]="amount"
      (ngModelChange)="handleValueChanges($event)"
    />
    <!-- The 'search' button will be disabled while:
         - the input is not valid, 
         - the calculator form is disabled via reactive Form,
         - fetching data
         - the input's value hasn't been modified-->
    <button
      type="button"
      (click)="onClick()"
      [disabled]="!isValid || isDisabled || isLoading || !isModified"
    >
      Search
    </button>
  </div>
  <div class="suggestion-container">
    <button
      class="btn-suggest"
      type="button"
      [disabled]="!lowerSuggestion || lowerSuggestion === amount"
      (click)="decrease()"
    >
      -
    </button>
    <button
      class="btn-suggest"
      type="button"
      [disabled]="!higherSuggestion || higherSuggestion === amount"
      (click)="increase()"
    >
      +
    </button>
  </div>
  <div class="cards-container">
    <p *ngIf="cards.length !== 0">
      Your amount is composed of the following cards:
    </p>
    <p *ngIf="lowerSuggestion || higherSuggestion">
      Sorry, we couldn't find a combination for your amount, please select
      another one.
    </p>
    <span class="card" *ngFor="let card of cards; trackBy: trackByFn">
      {{ card | cardFormat : "$" }}
    </span>
  </div>
</div>
