header {
  padding: 15px;
  color: white;
  background-color: rgb(35, 37, 37);
  font-family: fantasy;
  font-size: x-large;
}

main {
  min-height: 80vh;
  text-align: center;
}

.form-container {
  margin-top: 36px;
}

.shop-select,
.btn-buy {
  height: 26px;
}

.btn-buy {
  margin-top: 24px;
  width: 130px;
}

.shop-select {
  width: 200px;
}

footer {
  text-align: center;
}
